<div class="container mt-5">
  <h2>🎟️ Mes réservations</h2>

  <div *ngIf="reservations.length === 0" class="alert alert-warning">
    Aucune réservation trouvée.
  </div>

  <div *ngFor="let reservation of reservations">
    <img
      [src]="reservation.film.imageUrl"
      [alt]="reservation.film.titre"
      width="150"
      height="200"
    />
    <h3>{{ reservation.film.titre }}</h3>
      <p>📅 {{ reservation.seance.jour }} — {{ reservation.seance.debut }} ({{ reservation.seance.qualite }})</p>
      <p>🎥 Cinéma : {{ reservation.seance.cinema }}</p>
      <p>🎫 Places : {{ reservation.nbPlaces }}</p>
      <p>💰 Total : {{ reservation.nbPlaces * reservation.seance.prix }} €</p>
      <button (click)="supprimerReservation(reservation._id)" class="btn btn-danger btn-sm mt-2">
        ❌ Annuler
      </button>
  </div>
</div>
